*.pyc
*.db
./tmp
./build/*
./.idea
./.idea/*

#Docker
docker
#Azure
azure
bu

#virtualenv
env
test

#pycache
__pycache__
*.sublime*

#Files to ignore
tags_note.csv
# app.db

#Visual Studio Code
.vscode
