#project files
_venv/

# standard 
*.pyc
__pycache__
*.db
./tmp
./build/*
./.idea
./.idea/*
.idea

#Docker
docker
#Azure
azure
bu

#virtualenv
env
venv
test

#pycache
__pycache__
*.sublime*

#Files to ignore
tags_note.csv

# Application DB - Uncomment if needed for demo update
# app.db

# Initialization Files
*.ini

#Visual Studio Code
.vscode
