<footer class="section section-primary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>pyNote</h4> 
        <p>Copyright &copy; by DevSetGo 2011 -
          <script language="javascript" type="text/javascript">
            var today = new Date()
            var year = today.getFullYear()
            document.write(year)

          </script>
        </p>
      </div>
      <div class="col-sm-6">
        <p class="text-info text-right">
          <br>
          <br>
        </p>
        <div class="row">
          <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
            <a href="http://devsetgo.com"  title="blog" ><i class="fa fa-3x fa-fw far fa-sticky-note"></i></a>
            <a href="https://twitter.com/stuxstu"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="https://github.com/StuRyan56"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 hidden-xs text-right">
            <a href="http://devsetgo.com"  title="Blog" ><i class="fa fa-3x fa-fw far fa-sticky-note"></i></a>
            <a href="https://twitter.com/stuxstu"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="https://github.com/MikeRyan56"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>